<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{security_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <title>Please Log In</title>
</head>
<body>
<th:block layout:fragment="main-content">
    <div class="row">
        <div class="sm-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="sm-12">
            <h2>
                Log in to your account
            </h2>
        </div>
    </div>

    <div class="row" th:if="${param.error}">
        <div class="sm-12">
            <div class="alert alert-primary">
                Invalid username and password.
            </div>
        </div>
    </div>

    <div class="row" th:if="${param.logout}">
        <div class="sm-12">
            <div class="alert alert-primary">
                You have been logged out.
            </div>
        </div>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="row">
            <div class="sm-12">
                <label for="email" class="form-label">email:</label>
                <input type="email"
                       required
                       class="form-control"
                       id="email"
                       name="username"
                       placeholder="email" />
            </div>
        </div>
        <div class="row">
            <div class="sm-12">
                <label for="password" class="form-label">password:</label>
                <input type="password"
                       required
                       class="form-control"
                       id="password"
                       name="password"
                       placeholder="password" />
            </div>
        </div>
        <div class="row">
            <div class="sm-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="sm-12 d-grid">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="sm-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="sm-12 d-grid">
            <a class="btn btn-outline-primary"
               th:href="@{/oauth2/authorization/google}">
                Login with Google
            </a>
        </div>
    </div>

    <div class="row">
        <div class="sm-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="sm-12 d-grid">
            <p>
                Don't have account? Then <a th:href="@{/register}">register</a>
            </p>
        </div>
    </div>
</th:block>
</body>
</html>