<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{security_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <title>Please Log In</title>
</head>
<body>
<th:block layout:fragment="main-content">
    <div class="row">
        <div class="sm-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="sm-12">
            <h2>
                You have successfully registered
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="sm-12">
            No you may <a th:href="@{/login}">log in</a>
        </div>
    </div>
</th:block>
</body>
</html>