<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{security_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <title>Registration</title>
</head>
<body>
<th:block layout:fragment="main-content">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <h2>
                Registration
            </h2>
        </div>
    </div>

    <form th:action="@{/register}" th:object="${form}" method="post">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <label for="fullName" class="form-label">Full Name:</label>
                <input type="text"
                       required
                       th:field="*{fullName}"
                       th:class="'form-control ' + ${#fields.hasErrors('fullName') ? 'is-invalid' : ''}"
                       placeholder="Full Name"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('fullName')}"
                     th:errors="*{fullName}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text"
                       required
                       th:field="*{email}"
                       th:class="'form-control ' + ${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                       placeholder="Email"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password"
                       required
                       th:field="*{password}"
                       th:class="'form-control ' + ${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                       placeholder="Password"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3 d-grid">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <a th:href="@{/login}">Back to login</a>
            </div>
        </div>
    </form>
</th:block>
</body>
</html>