<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{public_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <title>Smart Collections</title>
</head>
<body>
<th:block layout:fragment="main-content">
    <div class="row align-items-center">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <h2>
                        Vinyl Collections
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        The best and smartest vinyl collection service ever. Share your collection with friends and family.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form th:action="@{/register}" method="get">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter your email address" />
                            <button class="btn btn-outline-secondary" type="submit">Start now</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    Build your own collection
                </div>
                <div class="col">
                    Share collection with your friends
                </div>
                <div class="col">
                    Get recommendations
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="/img/public/vinyl-player.png" alt="Vinyl Player" class="img-fluid"/>
        </div>
    </div>


</th:block>
</body>
</html>