<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{private_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <title>My collections</title>
</head>
<body>
<th:block layout:fragment="main-content">
    <div class="row">
        <div class="col-2">
            <a th:href="@{/my}" class="btn btn-primary">
                <i class="bi bi-arrow-left-circle"></i>
            </a>
        </div>
        <div th:class="${form.getId == 0 ? 'col-10' : 'col-8'}">
            <h1 th:if="${form.getId() == 0}">
                Create a new collection
            </h1>
            <h1 th:if="${form.getId() != 0}">
                Edit collection
            </h1>
        </div>
        <div class="col-2 text-end" th:if="${form.getId() != 0}">
            <a onclick="return confirm('Are you sure?')"
               th:href="@{/collections/{id}/delete(id=${form.getId()})}"
               class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>
    </div>

    <form method="post" th:action="@{/collections}" th:object="${form}">
        <input type="hidden" th:field="*{id}">

        <div class="row">
            <div class="col">
                <label for="name" class="form-label">Name:</label>
                <input type="text"
                       required
                       th:class="'form-control ' + ${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                       th:field="*{name}"
                       placeholder="Collection name"/>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col d-grid">
                <button id="collection-form-save-button" class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>

    <th:block th:if="${form.getId() != 0}">
        <div id="subform-collection-sharing"
             hx-trigger="load"
             th:attr="hx-get='/collections/' + ${form.getId()} + '/share'"></div>
    </th:block>
</th:block>
</body>
</html>