<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{private_layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<head>
    <title>My collections</title>
</head>
<body>
<th:block layout:fragment="main-content">
    <h1>Add a new album</h1>

    <ul>
        <li>
            <a th:href="@{/my}">Back</a>
        </li>
    </ul>

    <form method="post"
          th:action="@{/collections/{id}/albums(id=${form.getCollectionId()})}"
          th:object="${form}">

        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{collectionId}">

        <label for="artist">Artist:</label>
        <input type="text" id="artist" th:field="*{artist}"/>
        <p th:if="${#fields.hasErrors('artist')}" th:errors="*{artist}"/>

        <label for="album">Album:</label>
        <input type="text" id="album" th:field="*{album}"/>
        <p th:if="${#fields.hasErrors('album')}" th:errors="*{album}"/>

        <label for="cover">Cover:</label>
        <input type="hidden" id="cover" th:field="*{coverId}"/>
        <input type="file" id="cover-upload" style="display: none"/>
        <button type="button" id="cover-select">Select cover</button>

        <button type="submit">Create</button>
    </form>

    <script>
        $(document).ready(function () {
            $("#cover-select").click(function (e) {
                e.preventDefault();
                $("#cover-upload").click();
            });

            $("#cover-upload").change(function (event) {
                if (!event.target.files || event.target.files.length == 0) {
                    return;
                }

                const file = event.target.files[0];
                const formData = new FormData();
                formData.append("file", file);

                axios
                    .post("/files/upload-single", formData, {
                        "Content-Type": "multipart/form-data"
                    })
                    .then(response => {
                        debugger;
                    })
            });
        });
    </script>
</th:block>
</body>
</html>